[Unit]
Description=Update backup before shutdown
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target
Conflicts=shutdown.target reboot.target halt.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/local/bin/backup_shutdown.sh
TimeoutStartSec=0

[Install]
WantedBy=halt.target reboot.target shutdown.target

