[Unit]
Description=Update backup before shutdown
DefaultDependencies=no
RequiresMountsFor=/mnt/backup
After=multi-user.target
Before=umount.target

[Service]
Type=oneshot
User=leonc
Group=leonc
WorkingDirectory=/home/leonc
ExecStart=/bin/true
ExecStop=/usr/local/bin/backup_shutdown.sh
RemainAfterExit=yes
TimeoutStopSec=120
KillMode=mixed

[Install]
WantedBy=multi-user.target
