[Unit]
Description=Synchronize backup to local
After=multi-user.target

[Service]
Type=oneshot
User=leonc
Group=leonc
ExecStart=/usr/local/bin/backup_startup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

